div{
    position: absolute;
    left: 5px;
    top: 0px;
    background: white;
}
a {
    font-size: 22px;
    display: block;
    color: #22356F;
    position: relative;
    margin: 5px;
    padding: 5px;
    text-decoration: none;
}